<% include ./partials/header %>

<!--// <div class="jumbotron">
//     <h1>pirat Soft</h1>
//     <p>Index Site</p>
// </div>->>
<script>
console.log(QW);
</script>
<% include ./pages/landing/form %>

<% include ./partials/footer %>