<% include ./partials/header %>

<div class="jumbotron">
    <h1>RF Treff</h1>
    <p>Kassenbuch</p>
</div>
<script>
console.log(QW);
</script>
<% include ./pages/landing/form %>

<% include ./partials/footer %>