</div>
<div id="error" class='d-inline p-2 btn-footer border-light'>Footer</div>
<div id="footer" class='d-inline p-2 btn-footer border border-light'>Footer</div>
<div id="footer1" class='d-inline p-2 btn-footer border border-light'>Footer1</div>
<div id="serverStatus2" class='d-inline p-2 btn-footer border  border-light'>Serverstatus</div>
</body>
</html>